body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(247, 243, 243);
    font-size: large;
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

h1{
    font-size-adjust:0.80 ;
    color: rgb(7, 6, 6);
}


input , button{
    padding: 8 px;

    height: 40px ;
} 

ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 500px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10PX;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    margin-bottom: 10px;
    border-color: chartreuse;
    

}

.completed{
    text-decoration: line-through;
    color: rgb(45, 26, 36);
    
}


.task-button{
    display: flex;
    gap: 10px;
}

.task-button button{
    padding: 5px 10px;
}


.task-button button{
    padding: 5px 10px;
}
